16.html<!DOCTYPE HTML>
<html>
<head>
    <title>转班</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script language="javascript" src="/js/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $(".wh_tab tr:even").addClass('even');
        });
    </script>
</head>

<body>
<div class="wh_top">
    <div class="wht_left"><img src="/images/logo_li.png"/></div>
    <div class="wht_right">用户名: admin <a href="">注销</a></div>
</div>
<div class="wh_content1">
    <h1 class="wh_h1">转班</h1>
    <div style="font-size:14px;text-align:center;padding-bottom:30px;">学员姓名：AAA&nbsp;&nbsp;&nbsp;学员电话：13125869875&nbsp;&nbsp;&nbsp;学号：0001&nbsp;&nbsp;&nbsp;课程类型：美甲类&nbsp;&nbsp;&nbsp;课程名称：美甲初级课程</div>
    <div class="wh_sch" style="position:relative;">
        <form>

            <select style="width:250px;">
                <option value="课程状态" selected>课程类型</option>
                <option value="美甲类">美甲类</option>
                <option value="摄影类">摄影类</option>
                <option value="化妆类">化妆类</option>
                <option value="美容类">美容类</option>
                <option value="美发类">美发类</option>
                <option value="半永久类">半永久类</option>
            </select>
            <select style="width:250px;">
                <option value="授课老师" selected>授课老师</option>
                <option value="老师1">老师1</option>
                <option value="老师1">老师2</option>
                <option value="老师1">老师3</option>
                <option value="老师1">老师4</option>
                <option value="老师1">老师5</option>
            </select>
            <select style="width:250px;">
                <option value="上课时间" selected>上课时间</option>
                <option value="全日制">全日制</option>
                <option value="晚上">晚上</option>
                <option value="周末">周末</option>
            </select>
            <input class="wh_su" type="submit" value="筛选"/>
        </form>
        <div class="st"
             style="position:absolute;left:300px;border-radius:10px;top:60px;width:300px;overflow:hidden;background:#fff;border:1px solid #358eec;padding:20px;display:none;overflow:hidden;">
            <div style="text-align:center;">是否确认试听美甲高级班</div>
            <div style="overflow:hidden;width:300px;">
                <div class="qd"
                     style="width:80px;height:35px;line-height:35px;margin-top:20px;text-align:center;background:#358eec;color:#fff;float:left;margin-left:20px;">
                    确定
                </div>
                <div class="qx"
                     style="width:80px;height:35px;line-height:35px;margin-top:20px;text-align:center;background:#eb5e31;color:#fff;float:right;margin-right:20px;">
                    取消
                </div>
            </div>
        </div>
        <div class="bm"
             style="position:absolute;left:300px;border-radius:10px;top:60px;width:600px;overflow:hidden;background:#fff;border:1px solid #358eec;padding:20px;display:none;overflow:hidden;">
            <h1 style="text-align:center;padding-bottom:10px;">转班试听报名</h1>
            <div style="font-size:14px;text-align:center;padding-bottom:30px;">学员姓名：AAA&nbsp;&nbsp;&nbsp;学员电话：13125869875&nbsp;&nbsp;&nbsp;学号：0001</div>
            <div style="font-size:20px;text-align:center;padding-bottom:30px;">您已报名试听美甲类高级班，请确认上课时间并按时上课</div>
            <div class="qd1"
                 style="margin:0 auto;width:80px;height:35px;line-height:35px;margin-top:20px;text-align:center;background:#358eec;color:#fff;">
                确定
            </div>
        </div>
        <div class="bm1"
             style="position:absolute;left:300px;border-radius:10px;top:60px;width:300px;overflow:hidden;background:#fff;border:1px solid #358eec;padding:20px;display:none;overflow:hidden;">
            <div style="text-align:center;">是否确认转班美甲高级班</div>
            <div style="text-align:center;margin-top:10px;">如果转班，您需要补交学费XXXX元</div>
            <div style="overflow:hidden;width:300px;">
                <div class="qd2"
                     style="width:80px;height:35px;line-height:35px;margin-top:20px;text-align:center;background:#358eec;color:#fff;float:left;margin-left:20px;">
                    确定
                </div>
                <div class="qx2"
                     style="width:80px;height:35px;line-height:35px;margin-top:20px;text-align:center;background:#eb5e31;color:#fff;float:right;margin-right:20px;">
                    取消
                </div>
            </div>
        </div>
        <div class="bm2"
             style="position:absolute;left:300px;border-radius:10px;top:60px;width:600px;overflow:hidden;background:#fff;border:1px solid #358eec;padding:20px;display:none;overflow:hidden;">
            <h1 style="text-align:center;padding-bottom:10px;">转班成功</h1>
            <div style="font-size:14px;text-align:center;padding-bottom:30px;">学员姓名：AAA&nbsp;&nbsp;&nbsp;学员电话：13125869875&nbsp;&nbsp;&nbsp;学号：0001</div>
            <div style="font-size:20px;text-align:center;padding-bottom:30px;">您已报名半美甲班，需要缴纳学费XXXX元，<br>请在收银系统进行付款</div>
            <div class="qd3"
                 style="margin:0 auto;width:80px;height:35px;line-height:35px;margin-top:20px;text-align:center;background:#358eec;color:#fff;">
                确定
            </div>
        </div>
    </div>
    <div class="wh_tab">
        <table cellspacing="0">
            <tr class="wh_t1">
                <td>编号</td>
                <td>课程类型</td>
                <td>课程编号</td>
                <td>课程名称</td>
                <td>课程介绍</td>
                <td>授课老师</td>
                <td>老师介绍</td>
                <td>上课时间</td>
                <td>当前人数/满员人数</td>
                <td>课程费用</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>1</td>
                <td>美甲类</td>
                <td>MJ001-1</td>
                <td>美甲高级班</td>
                <td>美甲高级班</td>
                <td>老师1</td>
                <td>资深老师</td>
                <td>全日制</td>
                <td>12/20</td>
                <td>1998</td>
                <td><a class="wh_ta_1" href="javascript:st();" style="margin-right:10px;">试听</a><a class="wh_ta_1"
                                                                                                   href="javascript:bm1();"
                                                                                                   style="margin-right:10px;">报名</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>美甲类</td>
                <td>MJ001-1</td>
                <td>美甲高级班</td>
                <td>美甲高级班</td>
                <td>老师1</td>
                <td>资深老师</td>
                <td>全日制</td>
                <td>12/20</td>
                <td>1998</td>
                <td><a class="wh_ta_1" href="javascript:st();" style="margin-right:10px;">试听</a><a class="wh_ta_1"
                                                                                                   href="javascript:bm1();"
                                                                                                   style="margin-right:10px;">报名</a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>美甲类</td>
                <td>MJ001-1</td>
                <td>美甲高级班</td>
                <td>美甲高级班</td>
                <td>老师1</td>
                <td>资深老师</td>
                <td>全日制</td>
                <td>12/20</td>
                <td>1998</td>
                <td><a class="wh_ta_1" href="javascript:st();" style="margin-right:10px;">试听</a><a class="wh_ta_1"
                                                                                                   href="javascript:bm1();"
                                                                                                   style="margin-right:10px;">报名</a>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>美甲类</td>
                <td>MJ001-1</td>
                <td>美甲高级班</td>
                <td>美甲高级班</td>
                <td>老师1</td>
                <td>资深老师</td>
                <td>全日制</td>
                <td>12/20</td>
                <td>1998</td>
                <td><a class="wh_ta_1" href="javascript:st();" style="margin-right:10px;">试听</a><a class="wh_ta_1"
                                                                                                   href="javascript:bm1();"
                                                                                                   style="margin-right:10px;">报名</a>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>美甲类</td>
                <td>MJ001-1</td>
                <td>美甲高级班</td>
                <td>美甲高级班</td>
                <td>老师1</td>
                <td>资深老师</td>
                <td>全日制</td>
                <td>12/20</td>
                <td>1998</td>
                <td><a class="wh_ta_1" href="javascript:st();" style="margin-right:10px;">试听</a><a class="wh_ta_1"
                                                                                                   href="javascript:bm1();"
                                                                                                   style="margin-right:10px;">报名</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="wh_page"><a href="" class="wh_BACK" style="margin-left:400px;">BACK</a></div>
</div>
<script>
    function st() {
        $(".st").show();
    }
    function bm1() {
        $(".bm1").show();
    }
    $(".qd").click(function () {
        $(".bm").show();
        $(".st").hide();
    })
    $(".qx").click(function () {

        $(".st").hide();
    })
    $(".qd1").click(function () {
        $(".bm").hide();

    })
    $(".qd2").click(function () {
        $(".bm2").show();
        $(".bm1").hide();
    })
    $(".qd3").click(function () {
        $(".bm2").hide();

    })
    $(".qx2").click(function () {

        $(".bm1").hide();
    })
</script>

</body>

</html>