<!DOCTYPE HTML>
<html>
<head>
<title>结课</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script language="javascript" src="/js/jquery.js"></script>
<script>
$(document).ready(function() {
$(".wh_tab tr:even").addClass('even');
});
</script>
</head>

<body>
<div class="wh_top">
<div class="wht_left"><img src="/images/logo_li.png" /></div>
<div class="wht_right">用户名: admin   <a href="">注销</a></div>
</div>
<div class="wh_content1">
<h1 class="wh_h1">结课记录</h1>
<div style="font-size:14px;text-align:center;padding-bottom:30px;">学员姓名：AAA&nbsp;&nbsp;&nbsp;学员电话：13125869875&nbsp;&nbsp;&nbsp;学号：0001&nbsp;&nbsp;&nbsp;课程名称：美甲初级课程</div>
<div style="width:800px;margin:0 auto;">
    <div style="overflow:hidden;font-size:14px;line-height:32px;">
        <span style="float:left;">课程结果</span>
        <input style="float:left;width:200px;height:30px;line-height:30px;border:1px solid #999;margin-left:10px;margin-right:10px;">
        <span style="float:left;">分</span>
    </div>
    <div>
    	<div style="font-size:14px;line-height:60px;">老师点评及就业指导</div>
        <textarea style="display:block;width:600px;height:200px;border:1px solid #999;line-height:30px;padding:10px;"></textarea>
    </div>
</div>
<div class="wh_page"><a href="" class="wh_BACK" style="margin-left:400px;background:#017bce;">确定</a><a href="" class="wh_BACK" style="margin-left:100px;">BACK</a></div>

</div>


</body>

</html>