<!DOCTYPE HTML>
<html>
<head>
<title>6意向学员信息列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script language="javascript" src="css/jquery.js"></script>
<script>
$(document).ready(function() {
$(".wh_tab tr:even").addClass('even');
});
</script>
</head>

<body>
<div class="wh_top">
<div class="wht_left"><img src="images/logo_li.png" /></div>
<div class="wht_right">用户名: admin   <a href="">注销</a></div>
</div>
<div class="wh_content1">
<h1 class="wh_h1">意向学员信息查询</h1>
<div class="wh_sch" style="width:600px; margin:0 auto;">
<form>
<input type="text" value="请输入学生姓名" name="xingming" onFocus="if (this.value=='请输入学生姓名') this.value=''" onBlur="if (this.value==''){this.value='请输入学生姓名'}" />
<input type="text" value="请输入学生电话" name="phone" onFocus="if (this.value=='请输入学生电话') this.value=''" onBlur="if (this.value==''){this.value='请输入学生电话'}" />
<input class="wh_su" type="submit" value="查询" />
</form>
</div>
<div class="wh_tab">
<table cellspacing="0"  style="width:700px; margin:0 auto;">
<tr class="wh_t1"><td>编号</td><td>学员姓名</td><td>学员联系方式</td><td>操作</td></tr>
<tr><td>8</td><td>我遇风</td><td>15555665566</td><td><a class="wh_ta_1" href="">跟进</a></td></tr>
<tr><td>8</td><td>我遇风</td><td>15555665566</td><td><a class="wh_ta_1" href="">跟进</a></td></tr>
<tr><td>8</td><td>我遇风</td><td>15555665566</td><td><a class="wh_ta_1" href="">跟进</a></td></tr>
<tr><td>8</td><td>我遇风</td><td>15555665566</td><td><a class="wh_ta_1" href="">跟进</a></td></tr>
<tr><td>8</td><td>我遇风</td><td>15555665566</td><td><a class="wh_ta_1" href="">跟进</a></td></tr>
<tr><td>8</td><td>我遇风</td><td>15555665566</td><td><a class="wh_ta_1" href="">跟进</a></td></tr>
<tr><td>8</td><td>我遇风</td><td>15555665566</td><td><a class="wh_ta_1" href="">跟进</a></td></tr>
</table>
</div>
<div class="wh_page"  style="width:700px; margin:0 auto;"><a href="">上一页</a><a href="">1</a><a href="" class="hover">2</a><a href="">下一页</a><a href="" class="wh_BACK">BACK</a></div>
</div>

<script>
	 $(function(){

        $('.wh_su').click(function(){
           
          
            var xing=$('input[name="xingming"]').val();
            var phone=$('input[name="phone"]').val();
            
             

            if(xing=="请输入学生姓名"){
               alert('请输入学生姓名！');
                return false;
            }
            

             if(phone=="请输入学生电话"){
               alert('请输入学生电话');
                return false;
            }
            
        

        });

    });
</script>
</body>

</html>