<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30"
               packages="org.apache.logging.log4j.scribe.appender,net.kencochrane.raven.log4j2">
    <Appenders>

        <Console
                name="Console"
                target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%date{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%level][%logger{1.}]:%message%n"/>
        </Console>

        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="[%date{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%level][%logger{1.}]:%message%n"/>
        </Console>
        <Console name="errorlog" target="SYSTEM_OUT">
            <PatternLayout pattern="[%date{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%level][%logger{1.}]:%message%n"/>
        </Console>
        <PatternLayout>
            <Pattern>%level %date{yyyy-MM-dd HH:mm:ss.SSS} - %message%n</Pattern>
        </PatternLayout>

    </Appenders>

    <Loggers>
        <AsyncLogger name="org.eclipse.jetty" level="ERROR"/>
        <AsyncLogger name="org.apache.commons.httpclient" level="ERROR"/>
        <AsyncLogger name="org.apache.zookeeper" level="ERROR"/>
        <AsyncLogger name="org.springframework" level="ERROR"/>
        <AsyncLogger name="org.mybatis.spring" level="ERROR"/>
        <AsyncLogger name="org.apache.ibatis" level="ERROR"/>

        <AsyncLogger name="api" level="INFO" additivity="false">
            <AppenderRef ref="apilog"/>
        </AsyncLogger>
        <Root level="ERROR" includeLocation="true">
            <AppenderRef ref="errorlog"/>
        </Root>
    </Loggers>
</Configuration>
